#archive-control-edit-page #titlediv {
	margin-bottom:30px;
}
#archive-control-before, #archive-control-after {
	margin-bottom:30px;
}
#archive-control-edit-page #poststuff #postbox-container-2 h2 {
	padding-left:0px;
	padding-right:0px;
}
#archive-control-edit-page p.submit, #archive-control-options p.submit {
	margin:0px;
	padding:0px;
}
#archive-control-options .form-table th, #archive-control-options .form-table td {
	padding-top:10px;
	padding-bottom:10px;
}
#archive-control-options .postbox .hndle {
	cursor:default;
}
#archive-control-options select {
	width:30%;
}
.archive-control-info {
	color:#999;
	font-style: italic;
	padding-top:3px;
}
#buy-coffee-button {
	padding-right:32px;
	position: relative;
}
#buy-coffee-button img {
	position: absolute;
	width:16px;
	height:18px;
	top:50%;
	right:10px;
	margin-top:-9px;
}
